html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
}